.flower-detail {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .flower-child-block {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    transition: 0.3s;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    color: #303133;
    box-sizing: border-box;

    .flower-child-body {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      .container {
        padding: 15px 0;
        img {
          vertical-align: middle;
        }
        div {
          white-space: wrap;
        }
      }
    }
  }
}
